:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #2FA64F;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #2FA64F;
  }

  button {
    background-color: #f9f9f9;
  }
}

body {
  font-family: 'Product Sans', sans-serif;
}

.sidebar-link {
  width: 269px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  padding: 12px 5px;
  opacity: 1;
  color: #ffffffd9;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-link.active {
  background-color: #2FA64F;
  color: #fff !important;
  font-weight: bold;
}

.sidebar-sublink {
  color: #ffffffd9;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-sublink:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.sidebar-sublink.active {
  color: #2EA64F;
  font-weight: bold;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.sidebar-link-titles {
  color: #91A59B;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
}
